.chevrolet{
    grid-template-areas:
  "a  b "
  "c d"
  ;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 50fr 50fr 50fr;

}

.car1 img {
    width:200px;
    grid-area: a;
    border-radius: 300px;

}

.add{
    grid-area: b;
}
.header{
    color: lawngreen;
    text-align: center;
}
.textar{
    float: right;
    padding: 10px;
}
